.achievements {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
	gap: 16px;
	width: 70%;
	margin: auto;
}

.achievement {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 16px;

	width: 100%;
	padding: 16px;

	background-color: #4c4d51;

	text-align: left;
}
.achievement-selected {
	border-width: 3px;
	border-color: var(--button-color);
}

.achievement-image {
	width: 25%;
	object-fit: contain;
	flex-shrink: 0;
}

.achievement-info p {
	margin: 0;
	font-size: 13px;
	color: #8b8f98;
}


