.leaderboard-page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.leaderboard {
    border: 2px solid var(--border);
    margin-top: 5%;
    border-radius: 10px;
    font-size: min(2.5dvh, 2.5dvw);
    border-spacing: min(3dvh, 3dvw);
}

.self {
    border: 2px solid var(--border);
    border-radius: 10px;
    padding: 10px;
    font-size: min(2.5dvh, 2.5dvw);
}