.pb-profile-page {
	width: 100%;
	height: 100%;
	padding: 1%;
}


.profile-loading {
	text-align: center;
}

.pb-profile-page .profile {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 6dvh;
	gap: 4%;
	min-width: 0;
	min-height: 0;
	box-sizing: border-box;
}

.pb-profile-page .profile .bio {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 0;
	min-height: 0;
}
