MARIADB_ROOT_PASSWORD=root-password
MARIADB_DATABASE=transcendence
MARIADB_USER=transcendence
MARIADB_PASSWORD=user-password

EMAIL_HOST_USER=transcendence@gmail.com
EMAIL_HOST_PASSWORD=this-is-and-app-password

HOST_NAME=localhost
